html{
background-color: #56baed;
}

body { 
   height: 100vh;
   font-size: 13px;
}

.user {
    width: 90%;
    max-width: 400px;
    margin: 10vh auto;
}

.user__title {
    margin-bottom: 20px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 20px;
}

.form__input {
    display: block;
    border: none;
    width: 70%;
    padding: 20px;
    margin: 7;
    
}

.btn {
    font-size: 14px;
    border: none;
    background-color: white;
    padding:15px 80px;
    margin : 30;

}
